<div id="face-down-left" class="col-lg-6 mt-5">
        <div class="row">
            <div class="position-relative ms-5">
        <div class="position-absolute top-0 start-0">
            <div id="card-1" class="card card-blank rounded-5 shadow-lg bg-danger border-5">
                <span class="fa-stack fa-2x ms-2 mt-2">
                <i id="brando-circle-dark" class="fas fa-circle fa-stack-2x"></i>
                <i id="brando-bones" class="fas fa-skull-crossbones fa-stack-1x fa-inverse"></i>
            </span>
            </div>
        </div>
        <div class="position-absolute top-0 start-0">
            <div id="card-2" class="card card-blank rounded-5 shadow-lg bg-danger border-5">
                <span class="fa-stack fa-2x ms-2 mt-2">
                <i id="brando-circle-dark" class="fas fa-circle fa-stack-2x"></i>
                <i id="brando-bones" class="fas fa-skull-crossbones fa-stack-1x fa-inverse"></i>
            </span>
            </div>
        </div>
        <div class="position-absolute top-0 start-0">
            <div id="card-3" class="card card-blank rounded-5 shadow-lg bg-danger border-5">
                <span class="fa-stack fa-2x ms-2 mt-2">
                <i id="brando-circle-dark" class="fas fa-circle fa-stack-2x"></i>
                <i id="brando-bones" class="fas fa-skull-crossbones fa-stack-1x fa-inverse"></i>
            </span>
            </div>
        </div>
        <div class="position-absolute top-0 start-0">
            <div id="card-4" class="card card-blank rounded-5 shadow-lg bg-danger border-5">
                <span class="fa-stack fa-2x ms-2 mt-2">
                <i id="brando-circle-dark" class="fas fa-circle fa-stack-2x"></i>
                <i id="brando-bones" class="fas fa-skull-crossbones fa-stack-1x fa-inverse"></i>
            </span>
            </div>
        </div>
        <div class="position-absolute top-0 start-0">
            <div id="card-5" class="card card-blank rounded-5 shadow-lg bg-danger border-5">
            <span class="fa-stack fa-2x ms-2 mt-2">
                <i id="brando-circle-dark" class="fas fa-circle fa-stack-2x"></i>
                <i id="brando-bones" class="fas fa-skull-crossbones fa-stack-1x fa-inverse"></i>
            </span>
            </div>
        </div>
    </div><!-- position relative -->
    
        </div><!-- row -->
    </div><!-- col -->
    <div id="face-down-right" class="col-lg-6 mt-5">
        <div class="row">
            <div class="position-relative ms-5">
        <div class="position-absolute top-50 start-50">
            <div id="card-6" class="card card-blank-o rounded-5 shadow-lg bg-danger border-5">
               <span class="fa-stack fa-2x ms-2 mt-2">
                        <i id="brando-circle-warning" class="fas fa-circle fa-stack-2x"></i>
                        <i id="brando-eye-evil" class="fad fa-eye-evil fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
        </div>
        <div class="position-absolute top-50 start-50">
            <div id="card-7" class="card card-blank-o rounded-5 shadow-lg bg-danger border-5">
                <span class="fa-stack fa-2x ms-2 mt-2">
                        <i id="brando-circle-warning" class="fas fa-circle fa-stack-2x"></i>
                        <i id="brando-eye-evil" class="fad fa-eye-evil fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
        </div>
        <div class="position-absolute top-50 start-50">
            <div id="card-8" class="card card-blank-o rounded-5 shadow-lg bg-danger border-5">
                <span class="fa-stack fa-2x ms-2 mt-2">
                        <i id="brando-circle-warning" class="fas fa-circle fa-stack-2x"></i>
                        <i id="brando-eye-evil" class="fad fa-eye-evil fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
        </div>
        <div class="position-absolute top-50 start-50">
            <div id="card-9" class="card card-blank-o rounded-5 shadow-lg bg-danger border-5">
                <span class="fa-stack fa-2x ms-2 mt-2">
                        <i id="brando-circle-warning" class="fas fa-circle fa-stack-2x"></i>
                        <i id="brando-eye-evil" class="fad fa-eye-evil fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
        </div>
        <div class="position-absolute top-50 start-50">
            <div id="card-10" class="card card-blank-o rounded-5 shadow-lg bg-danger border-5">
            <span class="fa-stack fa-2x ms-2 mt-2">
                        <i id="brando-circle-warning" class="fas fa-circle fa-stack-2x"></i>
                        <i id="brando-eye-evil" class="fad fa-eye-evil fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
        </div>
    </div><!-- position relative -->

        </div><!-- row -->
</div><!-- col -->
    