<!-- start hbs template -->
<div class="row row-1">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="row">
        <div class="card-group">
          <div class="card admin-card">
            <div class="card-body">
              <h5 class="card-title">Total Revenue</h5>
              <p class="card-text">[REVENUE]</p>
            </div>
          </div>
        <div class="card admin-card">
          <div class="card-body">
            <h5 class="card-title">Total Users</h5>
            <p class="card-text">{{users.length}}</p>
        </div>
      </div>
    </div>
        </div>
      <div class="row">
        <div class="card-group">
          <div class="card admin-card me-3">
            <div class="card-body">
              <h5 class="card-title">Total Cards</h5>
              <p class="card-text">{{cards.length}}</p>
            </div>
          </div>
        <div class="card admin-card">
          <div class="card-body">
            <h5 class="card-title">Total Decks</h5>
            <p class="card-text">{{decks.length}}</p>
        </div>
      </div>
    </div>

      </div>
    </div>
    <div class="col-3"></div>
</div>
<!-- end hbs template -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
