<!-- Auth ---------------------------------------------->

    <div class="row">
      
      <div class="col-sm-6 mt-5">
        <!-- Form 1-->
        <div class="card py-3 px-3">
            <div class="card-body">
                <form>
                    <h5 class="mb-5">Sign In</h5>
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input type="email" class="form-control" id="loginEmail" placeholder="name@example.com">
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" id="loginPassword" placeholder="name@example.com">
                        <button type="button" class="btn btn-primary mt-3">Sign In</button> 
                    </div>
                </form>
            </div>
          </div>
        
        <!-- Form -->
      </div>
      <div class="col-sm-6 mt-5">
        <!-- Form 2-->

        <div id="card-sign-up" class="card py-3 px-3">
            <div class="card-body">
                <form>
                    <h5 class="mb-5">Sign Up</h5>
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="name" class="form-control" id="signInName" placeholder="name@example.com">
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input type="email" class="form-control" id="signInEmail" placeholder="name@example.com">
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" id="signInPassword" placeholder="name@example.com">
                        <button type="button" class="btn btn-primary mt-3">Sign Up</button> 
                    </div>
                </form>
                
            </div>
          </div>
        
        
        <!-- Form -->
      </div>
      <!-- Auth ---------------------------------------------->