<!-- start hbs template -->
<div id="row-collection" class="row">
    <h2>My Collection</h2>
 <div class="col mt-5">
    {{#grouped_each 6 user.cards}}
  <div class="row">
    {{#each this }}
    <!-- card -->
    <div class="card card-collection card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url({{image_url}});">
      <div class="d-flex h-100 p-5 pb-3 text-white text-shadow-1">
        <h4 class="pt-3 mt-3 mb-4 lh-1 fw-bold"><p>{{name}}</p></h4>
      </div>
      <div class="card-footer position-sticky">
        <h5 class="badge-battle"><span class="badge rounded-pill bg-light text-dark"><i class="fad fa-swords me-2"></i><span class="badge rounded-pill bg-danger">{{attack}}</span></span></h5>
        <h5 class="badge-faction"><span class="badge rounded-pill bg-light text-dark"><i class="fad fa-helmet-battle me-2"></i><span class="badge rounded-pill bg-info">{{faction.name}}</span></span></h5>
  </div>
    </div>
    <!-- card -->
    {{/each}}
  </div>
{{/grouped_each}}




 </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


