<!-- start hbs template -->
<div class="row row-1">
    <h2>Payment Successful. Enjoy your new cards!</h2>
</div>

<div id="cards" userId="{{user.id}}">

</div>
<!-- end hbs template -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/confirmation.js"></script>
