{{!-- homepage data here --}}
<!-- start hbs template -->
<div class="row row-1">
<div class="alert alert-primary" role="alert">
  <strong>Fancy Homepage</strong> Coming soon!
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</div>
<!-- end hbs template -->