{{!-- homepage data here --}}
<!-- start hbs template -->
<div class="row row-1">
  <!-- Hero -->
  <div class="px-4 py-5 my-5 text-center" id="hero">
    <h1 class="display-5 fw-bold bg-white">Ready to Battle!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 bg-light">Are you ready to challenge the fiercest players in the seven kingdoms? When you play the <strong>Game of Bones</strong>, you win or you die. There is no middle ground.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        {{#if logged_in}}
         <a href="/play" type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Play</a>
        {{else}}
         <a href="/auth" type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Play</a>
        {{/if}}

      </div>
    </div>
  </div>
<!-- Hero -->
  </div>
<div id="" class="row mt-5 mb-5">
  <div class="col-lg">
    <h3><i class="fad fa-pegasus me-3"></i>Collect</h3>
    <p>Collect a variety of cards from the store. Collect all kinds of cards with differing strengths and aesthetic style. You’re in control of your collection! </p>
  </div>
  <div class="col-lg">
     <h3><i class="fad fa-swords me-3"></i>Battle</h3>
    <p>Play against other fellow users on the site. Battle your way to victory. Your cards are your strength! </p>
  </div>
  <div class="col-lg mb-5">
     <h3><i class="fad fa-hat-wizard me-3"></i>Construct</h3>
    <p>Assemble your best cards to achieve victory over everyone else! Only you can know what your deck becomes. </p>
  </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</div>
<!-- end hbs template -->