
<!-- start hbs template -->
<!-- Challenge -->
<div id="row-challenge" class="row">

</div>
<!-- Challenge -->
<!-- Face Down -->
<div id="row-face-down" class="row">
    {{> facedown}}
</div><!-- row --> 
<!-- Face Down -->
<!-- Battle Button -->
<div class="col d-flex justify-content-center">
    <button type="button" id="buttonStart" class="btn btn-success"><i class="fas fa-axe-battle me-2"></i>Battle</button>
</div>
<!-- Battle Button -->
<!-- Display Message -->
<div id="diplayMessage"></div>
<!-- Display Message -->


</div>

<div id="play-2" class="row row-3">
    <div id="play-2-left" class="col-sm-6 mt-5">
        
        <!-- card group -->
        <div id="play-card-group-1" class="card-group">
            <!-- Play 2 - content will be appended here dynamically --> 
        </div><!-- card group -->
    </div>
    <div id="play-2-right" class="col-sm-6 mt-5 border-start">
    
        <!-- card group -->
        <div id="play-card-group-2" class="card-group">
            <!-- Play 2 - content will be appended here dynamically --> 
        </div><!-- card group -->
    </div>
</div>
    
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script src="/js/game.js"></script>
