<!-- start hbs template -->
<div id="challenge" class="row row-1">
    challenge
</div>
<div id="play-1" class="row row-2">
    play 1
</div>
<div id="play-2" class="row row-3">
    play 2
</div>
<!-- end hbs template -->