
<!-- start hbs template -->
<div id="challenge" class="row row-1">
    <div id="challenge-left" class="col-sm-6 mt-5">
        challenge left
    </div>
    <div id="challenge-right" class="col-sm-6 mt-5 border-start">
        challenge right
    </div>
</div>
<!-- Play 1 - content will be inserted here dynamically --> 
<div id="play-1" class="row row-2">
    <div id="play-1-left" class="col-sm-6 mt-5">
        play 1 left
        <!-- card group -->
        <div id="play-card-group-1" class="card-group">
            <!-- Play 1 - content will be appended here dynamically --> 
        </div><!-- card group -->
    </div>
    <div id="play-1-right" class="col-sm-6 mt-5 border-start">
        play 1 right
        <!-- card group -->
        <div class="card-group">
            <!-- Play 1 - content will be appended here dynamically --> 
        </div><!-- card group -->
    </div>
</div>
<div id="play-2" class="row row-3">
    <div id="play-2-left" class="col-sm-6 mt-5">
        play 2 left 
        <!-- card group -->
        <div class="card-group">
            <!-- Play 2 - content will be appended here dynamically --> 
        </div><!-- card group -->
    </div>
    <div id="play-2-right" class="col-sm-6 mt-5 border-start">
        play 2 right
        <!-- card group -->
        <div class="card-group">
            <!-- Play 2 - content will be appended here dynamically --> 
        </div><!-- card group -->
    </div>
</div>
<!-- end hbs template -->