
<!-- start hbs template -->
<div id="challenge" class="row row-1">
    
    <div class="col-sm-3 mt-5"></div>
    <div id="challenge-right" class="col-sm-6 mt-5">
        <!-- list of opponents --> 
        <ul>
           {{#each user as |user| }}
            <li>
                <div class="card">
                    <div class="card-body">
                        <!-- media object --> 
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <h3><i class="fad fa-hat-wizard avatar"></i></h3>
                        </div>
                        <div class="flex-grow-1 ms-3">
                        <h3>{{user.name}}</h3>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-outline-success play-deck">Challenge</button>
                        </div>
                </div><!-- media object --> 
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
        <!-- list of opponents --> 
    </div>
    <div class="col-sm-3 mt-5"></div>
</div>

<!-- Play 1 Cards Down - content will be inserted here dynamically --> 
<div id="play-1" class="row row-2">
    <div id="play-1-left" class="col-sm-6 mt-5">
        <!-- card group -->
        <div id="play-card-group-1" class="card-group">
            <!-- card -->
            <div class="card card-challenge">
                <div class="card-body d-flex justify-content-center ">
                    <h1 class="align-self-center"><i class="fas fa-dragon icon-light"></i></h1>
                </div>
            </div><!-- card -->
            <!-- card -->
            <div class="card card-challenge">
                <div class="card-body d-flex justify-content-center">
                    <h1 class="align-self-center"><i class="fas fa-dragon icon-light"></i></h1>
                </div>
            </div><!-- card -->
            <!-- card -->
            <div class="card card-challenge">
                <div class="card-body d-flex justify-content-center">
                    <h1 class="align-self-center"><i class="fas fa-dragon icon-light"></i></h1>
                </div>
            </div><!-- card -->
            <!-- card -->
            <div class="card card-challenge">
                <div class="card-body d-flex justify-content-center">
                    <h1 class="align-self-center"><i class="fas fa-dragon icon-light"></i></h1>
                </div>
            </div><!-- card -->
            <!-- card -->
            <div class="card card-challenge">
                <div class="card-body d-flex justify-content-center">
                    <h1 class="align-self-center"><i class="fas fa-dragon icon-light"></i></h1>
                </div>
            </div><!-- card -->

        </div><!-- card group -->
    </div>
    <div id="play-1-right" class="col-sm-6 mt-5 border-start">
        <!-- card group -->
        <div id="play-card-group-2" class="card-group">
            <!-- Play 1 - content will be appended here dynamically --> 
        </div><!-- card group -->
    </div>

    <div id="diplayMessage"></div>

</div>
<!-- button -->
<div class="row mt-5">
    <div class="col d-flex justify-content-center">
        <button type="button" id="buttonStart" class="btn btn-success"><i class="fas fa-axe-battle me-2"></i>Battle</button>
    </div>
</div>
<!-- button -->
<div id="play-2" class="row row-3">
    <div id="play-2-left" class="col-sm-6 mt-5">
        play 2 left 
        <!-- card group -->
        <div class="card-group">
            <!-- Play 2 - content will be appended here dynamically --> 
        </div><!-- card group -->
    </div>
    <div id="play-2-right" class="col-sm-6 mt-5 border-start">
        play 2 right
        <!-- card group -->
        <div class="card-group">
            <!-- Play 2 - content will be appended here dynamically --> 
        </div><!-- card group -->
    </div>
</div>
    
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>





var cardPlayer1Area = $('#play-card-group-1')
var startButton = $('#buttonStart')
var cardPlayer2Area = $('#play-card-group-2')

var enemyAttack = 0

var userAttk = 0

const hi = async (event) => {





}




const game1 = async (event) => {
    
  var currentPlayerId = 1

      const response = await fetch(`/api/users/ ${currentPlayerId}`, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
        },
      });


      const res = await response.json();




          var deckNameArr = []
          var deckAttkArr = []
          var deckIMGArr = []
          var deckIdArr = []
          var deckFactionArr = []

        
          for (var i = 0; i<res.deck.cards.length; i++){
          var randomNumber15 = Math.floor(Math.random()*15)

            
            deckNameArr.push(res.deck.cards[randomNumber15].name)
            deckAttkArr.push(res.deck.cards[randomNumber15].attack)
            deckIMGArr.push(res.deck.cards[randomNumber15].image_url)
            deckIdArr.push(res.deck.cards[randomNumber15].id)
            deckFactionArr.push(res.deck.cards[randomNumber15].faction.name)

          }
          
            for (var i = 0; i<5; i++){
            


                let cardDiv = $('<div>');
            
                cardPlayer1Area.append(cardDiv)
            
                let cardTemplate = $(`
                <div id="card-1" class="card card-play">
                    <img id="card-1-img" src="${deckIMGArr[i]}" class="card-img-top" alt="photo">
                    <div id="card-1-body" class="card-body">
                    <h5 id="card-1-title" class="card-title">${deckNameArr[i]}</h5>
                    </div>
                    <ul id="card-1-list" class="">
                    <li id="card-1-attack" class="list-item"><i class="fad fa-swords me-2"></i>${deckAttkArr[i]}</li>
                    <li id="card-1-faction"  class="list-item"><i class="fad fa-eye-evil me-2"></i>${deckFactionArr[i]}</li>
                    </ul>
                    <div id="card-1-footer" class="card-footer">
                    <small id="card-1-id" >${deckIdArr[i]}</small>
                    </div>
                </div>`)
                cardDiv.append(cardTemplate)


                userAttk = userAttk + deckAttkArr[i]


           }
    console.log(`userAttk ${userAttk}`)
    
}     


const game2 = async (event) => {
    
  var currentPlayerId = 1

      const response = await fetch(`/api/users/ ${currentPlayerId}`, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
        },
      });


      const res = await response.json();




          var enemyNameArr = []
          var enemyAttackArray = []
          var enemyIMGArr = []
          var enemyIdArr = []
          var enemyFactionArr = []

        
          for (var i = 0; i<res.deck.cards.length; i++){
          var randomNumber15 = Math.floor(Math.random()*15)

            
            enemyNameArr.push(res.deck.cards[randomNumber15].name)
            enemyAttackArray.push(res.deck.cards[randomNumber15].attack)
            enemyIMGArr.push(res.deck.cards[randomNumber15].image_url)
            enemyIdArr.push(res.deck.cards[randomNumber15].id)
            enemyFactionArr.push(res.deck.cards[randomNumber15].faction.name)


          }
          
            for (var i = 0; i<5; i++){
            


                let cardDiv = $('<div>');
            
                cardPlayer2Area.append(cardDiv)
            
                let cardTemplate = $(`
                <div id="card-1" class="card card-play">
                    <img id="card-1-img" src="${enemyIMGArr[i]}" class="card-img-top" alt="photo">
                    <div id="card-1-body" class="card-body">
                    <h5 id="card-1-title" class="card-title">${enemyNameArr[i]}</h5>
                    </div>
                    <ul id="card-1-list" class="">
                    <li id="card-1-attack" class="list-item"><i class="fad fa-swords me-2"></i>${enemyAttackArray[i]}</li>
                    <li id="card-1-faction"  class="list-item"><i class="fad fa-eye-evil me-2"></i>${enemyFactionArr[i]}</li>
                    </ul>
                    <div id="card-1-footer" class="card-footer">
                    <small id="card-1-id" >${enemyIdArr[i]}</small>
                    </div>
                </div>`)
                cardDiv.append(cardTemplate)


                enemyAttack = enemyAttack + enemyAttackArray[i]


           }

        console.log(enemyAttack)

}     



function compare (){

    var messageWinOrLose = $('#diplayMessage')
  

    if (userAttk>enemyAttack){
        let message = $('<h2>');
        messageWinOrLose.append(message);
        let win = `<h2>you WIN</h2>`

        message.append(win);

       
    }
    else{
        let message = $('<h2>');
        messageWinOrLose.append(message);
        let lose = `<h2>you LOSE</h2>`

        message.append(lose);

} }

async function start (){
    await game1()
    await game2()
    compare ()

}

startButton.on('click',start)




    </script>





