<!-- start hbs template -->
<div class="row row-1">
<div class="alert alert-primary" role="alert">
  <strong>Store</strong> Coming soon!
</div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- end hbs template -->