<script src="https://js.stripe.com/v3/"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>


<script>
    var stripPublicKey = '{{stripePublicKey}}'
</script>



<div class="row">
  <div class="col-3"></div>
 <div class="col-6 mt-5">
   <div class="alert alert-info" role="alert">
    <i class="fad fa-wand-magic me-2"></i>Level up your collection with these awesome booster packs. 
    </div>
  <div class="row d-flex justify-content-center">
    
    {{#each factions as |factions| }}
      <div id="" class="card card-faction">
            <img id="" src="{{image_url}}" class="card-img-top" alt="...">
            <div id="" class="card-body">
            <h5 id="" class="card-title">{{name}}</h5>
            </div>
            <div class="card-footer">
                  <form action="/charge" method="POST"> 
                    <script
                      src="https://checkout.stripe.com/checkout.js"
                      class="stripe-button"
                      data-key = 'pk_test_51InahGB6LddKk5YMUfGYmn8pfJ93YWYEfdsfqeRm8pMdeHBexmIsnjibJ60ZRmaKdxCWeBQeG416YNUM0Xri2OA2009caNhR8A'
                      data-amount="500" 
                      data-currency="usd" 
                      data-name= {{name}} 
                      data-description="Card Pack" 
                      data-locale="auto" > 
                    </script> 
                  </form>              
    <small class="mt-5"><i class="fal fa-lock-alt me-2"></i>Powered by<i class="fab fa-cc-stripe ms-2"></i></small>
            </div>
        </div>     
    {{/each}}
  </div>
 </div>
  <div class="col-3"></div>
</div>
<article id="cartParent">
    <p>Shopping Cart</p>
    <p>______________</p>
    <ul id="cartList" class="list-group">

    </ul>
</article>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- end hbs template -->

<script src="/js/storePage.js" ></script>