/* css */

/* Brand logo  */  

.fa-stack {
    font-size: 20px;
}

#brando-circle {
  color: red;
}

#brando-bones  {
    font-size: 20px;
    border-radius: 50%;
}


.card-img-top {
    max-height: 200px;
    width: 100%;
}


.card-collection {
    max-width: 200px;
    max-height:;
    margin: 10px;
}

.card-faction {
    max-width: 200px;
    max-height:;
    margin: 10px;
}

.fa-cc-stripe {
    color: #6772E5;
    font-size:18px;;
}

.card-challenge {
    border-color: black;
    background-color: lightslategray;
    min-height: 200px;
    margin: 20px;
}



/*.card-play {
    border-color: black;
    background-color: white;
    min-height: 200px;
    max-width: 250px;
    margin: 20px;
    
}*/


.icon-light {
    color: white;
}

ul {
    list-style: none;
}

.admin-card {
    margin: 10px;
}

/* Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 100px;
 }

 .footer-link {
     text-decoration: none;
 }

/* Cards Enhanced */

.card-battle {
    border-color: black;
    background-color: lightslategray;
    min-height: 300px;
    max-width: 400px;
    margin: 20px;
    display: inline-block;
}

.card-columns {column-count: 2;}
  

  

  .rounded-4 { border-radius: .5rem; }
  .rounded-5 { border-radius: 1rem; }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  

  /* Buttons */

  #buttonStart {
      margin-bottom: 200px;
  }