
/*
**  Cards **
*/

.card-img-top {
    max-height: 200px;
    width: 100%;
}

.card-blank {
    max-width: 200px;
    min-width: 200px;
    max-height: 400px;
    min-height: 400px;
    margin: 10px;
    border-color: black;
    border-style: thick;
    background-color: red;
}

.card-blank-o {
    max-width: 200px;
    min-width: 200px;
    max-height: 400px;
    min-height: 400px;
    margin: 10px;
    border-color: #FFC108;
    border-style: thick;
    background-color: black !important;
}

#card-1 {
    margin-left: 0px;
}

#card-2 {
    margin-left: 50px;
    margin-top: 50px;
}

#card-3 {
    margin-left: 100px;
    margin-top: 100px;
}

#card-4 {
    margin-left: 150px;
    margin-top: 150px;
}

#card-5 {
    margin-left: 200px;
    margin-top: 200px;
}

#card-6 {
    margin-left: 0px;
}

#card-7 {
    margin-left: 50px;
    margin-top: 50px;
}

#card-8 {
    margin-left: 100px;
    margin-top: 100px;
}

#card-9 {
    margin-left: 150px;
    margin-top: 150px;
}

#card-10 {
    margin-left: 200px;
    margin-top: 200px;
}
.card-collection {
    max-width: 200px;
    max-height: 400px;
    min-height: 400px;
    margin: 10px;
    /* display: inline; */
}

.card-deck {
    max-width: 200px;
    max-height: 400px;
    min-height: 400px;
    margin: 10px;
}

.card-faction {
    max-width: 200px;
    margin: 10px;
}

.card-challenge {
    border-color: black;
    background-color: lightslategray;
    min-height: 200px;
    margin: 20px;
}

.card-battle {
    border-color: black;
    background-color: lightslategray;
    min-height: 300px;
    max-width: 400px;
    margin: 20px;
    display: inline-block;
}

.card-columns {column-count: 2;}

.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 1rem; }

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }


  .admin-card {
    margin: 10px;
}


/*
**  Buttons **
*/

#buttonStart {
      margin-bottom: 200px;
}

/*
**  Icons **
*/

.icon-light {
    color: white;
}

.fa-stack {
    font-size: 20px;
}

#brando-circle {
  color: red;
}

#brando-circle-warning {
    color: #FFC108;
  }

#brando-bones  {
    font-size: 20px;
    border-radius: 50%;
}

#brando-eye-evil {
    font-size: 20px;
    border-radius: 50%;
    color: black;
}

.fa-cc-stripe {
    color: #6772E5;
    font-size:18px;;
}


/*
**  Footer **
*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 100px;
 }

 .footer-link {
     text-decoration: none;
 }

/*
**  MISC **
*/

  ul {
    list-style: none;
}

#row-collection {
    margin-bottom: 200px;;
}

/* Hero banner */
#hero {
    background:url(../assets/backdrop.png);
    background-repeat: no-repeat;
    background-position: center;
}

mark {
    background-color: black;
    color: white;
    padding: 10px;
    line-height: 200%;
}

#extraCards {
    margin-bottom: 200px;
}